$color-background: #f775f7;
$color-text: #18053c;
$color-border: #080215;

$color-key: #8e388e;
$color-key-hover: #9e75f7;
$color-key-active: #7a3bee;

$color-key-control: #280a3f;
$color-key-control-hover: #651ca0;
$color-key-control-active: #3a0a3b;

$color-key-capslock-active: #810b5b;

